---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import { config } from '../constants/config';
import { Image } from 'astro:assets';
import img from '../assets/img/Noticias.gif'

// Welcome to Astro! Wondering what to do next? Check out the Astro documentation at https://docs.astro.build
// Don't want to use any of this? Delete everything in this file, the `assets`, `components`, and `layouts` directories, and start fresh.
---

<Layout>
	<Main>
		<div class="container">

			<Image
				src={img}
				alt={"Imagen"}
				class:list={"noticias"}
			/>

			<h1>SOCIO VIP del {config.project.alias}</h1>
					
			<p>
				Recuerda que MU COSO es un Server VIP
			</p>
			<p>
				Tu cuenta permanecera habilitada por 3 dias a partir del momento de creación, luego de ese plazo, podrás jugar en el horario FREE.
				Para acceder al horario VIP, podrás enviar un sobre con los $5 dentro a nombre de:
			</p>
		</div>


	</Main>
</Layout>
<style>
	.noticias{
		width: 100%;
	}
</style>