---
import Main from '../components/Main.astro';
import Layout from '../layouts/Layout.astro';
import { config } from '../constants/config';
import { Image } from 'astro:assets';
import infoImg from '../assets/img/top-decorator.gif'

---

<Layout>
	<Main>
		<div class="container">

			<Image
				src={infoImg}
				alt={"Imagen"}
				class:list={"noticias"}
			/>

			<h1>SOCIO VIP del {config.project.alias}</h1>
			<h3>Comparacion de cuestiones normales vs VIP</h3>
			<p>Los usuarios VIP además de tener beneficios, aportan al mantenimiento del proyecto</p>
			<p>
				Creemos que el mejor punto medio entre no tener un servidor pay-to-wim y que sea gratuito, es ofrecer un beneficio temporal a travéz del sistema VIP
			</p>
			<h3>Como ser VIP</h3>
			<p>
				Recuerda que {config.project.alias} es un Server VIP
			</p>
			<p>
				Tu cuenta permanecera habilitada por 3 dias a partir del momento de creación, luego de ese plazo, podrás jugar en el horario FREE.
				Para acceder al horario VIP, podrás enviar un sobre con los $5 dentro a nombre de:
			</p>
		</div>


	</Main>
</Layout>
<style>
	.noticias{
		width: 100%;
	}
</style>