---
import { Image } from "astro:assets";
import eventsImg from "../assets/img/events.png"
import RankTable from "./RankTable.astro";
import OnlinePlayers from "./OnlinePlayers.astro";
---

<main id="container">
	<section class="mid">
		<slot></slot>
	</section>
	<section class="right">
		<div class="right-container">

			<OnlinePlayers/>
			<hr>
			<RankTable/>
			<hr>
			<Image
				src={eventsImg}
				alt="Imagen principal"
				class:list={"hero-img"}
			/>
		</div>
	</section>
</main>
<style>
	main{
		padding: 20px 0;
		position: relative;
		transform: translateY(-50px);
		margin: 0 auto;
		width: 100%;
        max-width: var(--max-w);
		background-color: rgba(253, 244, 232, 0.884);
		/* background-image: url('/public/papiro2.jpeg'); */
		/*background-size: cover;*/
		background-position: center;
		color: brown;
		display: flex;
		flex: 1;
	}
	.left,
	.mid,
	.right{
		padding: 20px;
	}

	.left{
		flex: 2;
	}

	.mid {
		flex: 5;
	}

	.right{
		flex: 2;
	}

	.right-container{
		display: flex;
		flex-direction: column;
		align-items: center;
	}
</style>
