@import url('./buttons.css');
:root {
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 12px;

    --max-w: 800px;
    --bg: #070013;
    --fg: #cfb279;
    --bg-transparent: rgba(0, 0, 0, 0.3);
    --bg-blur: 4px;
    --shadow-color: rgba(15, 1, 29, 0.096);
    --color-primary: #592bad;
    --color-succes: #2ecc71;
    --color-danger: orange;
    --color-error: #ff4d4d;
    --color-brown: #461303;
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    background-color: var(--bg);
    color: var(--fg);
    display: flex;
    flex-direction: column;
    overflow-x: hidden;
}
.bottom{
    width: 100%;
}

h3 {
    margin: 20px 0;
    padding: 6px;
    text-align: center;
    background: linear-gradient(90deg, var(--color-primary), var(--color-danger), var(--color-brown));
    color: var(--bg);
}

.error { color: var(--color-error) !important; }
.success { color: var(--color-succes) !important; }

.bg-blur {
    background-color: var(--bg-transparent);
    backdrop-filter: blur(3px);
}

.gradient-text-cold {
  background: linear-gradient(90deg, var(--color-primary), var(--color-error));
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}

.gradient-text-hot {
  background: linear-gradient(to bottom, bisque, #cfb279);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  -webkit-text-fill-color: transparent;
}